<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Управление участниками чата</title>
    <link rel="stylesheet" href="participants.css">
</head>
<body>
<div class="container">
    <h1>Управление участниками чата</h1>

    <!-- Выбор чата -->
    <div class="form-container">
        <h2>Выберите чат</h2>
        <select id="chatSelector">
            <option value="">Выберите чат</option>
        </select>
    </div>

    <!-- Список пользователей выбранного чата -->
    <div class="form-container">
        <h2>Фильтр участников</h2>
        <select id="roleFilter">
            <option value="">Все роли</option>
            <option value="admin">Администратор</option>
            <option value="user">Пользователь</option>
        </select>
        <input type="text" id="searchInput" placeholder="Введите имя пользователя">
        <h2>Участники чата</h2>
        <div id="participantList"></div>
    </div>


    <!-- Добавление пользователя в чат -->
    <div class="form-container">
        <h2>Добавить пользователя</h2>
        <form id="addUserForm">
            <select id="username" required>
                <option value="">Выберите пользователя</option>
            </select>
            <select id="role" required>
                <option value="admin">Администратор</option>
                <option value="user">Пользователь</option>
            </select>
            <input type="text" id="publicKey" placeholder="Публичный ключ" required>
            <input type="number" id="status" placeholder="Статус" required>
            <button type="submit">Добавить</button>
        </form>
    </div>

    <!-- Удаление пользователя из чата -->
    <div class="form-container">
        <h2>Удалить пользователя</h2>
        <form id="removeUserForm">
            <select id="removeUsername" required>
                <option value="">Выберите пользователя</option>
            </select>
            <button type="submit">Удалить</button>
        </form>
    </div>
</div>

<script src="participantsScript.js"></script>
</body>
</html>