<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Управление участниками чата</title>
    <link rel="stylesheet" href="participants.css">
</head>
<body>
<div class="container">
    <h1>Управление участниками чата</h1>

    <!-- Форма для добавления пользователя -->
    <div class="form-container">
        <h2>Добавить пользователя</h2>
        <div class="form-container">
            <h2>Добавить пользователя</h2>
            <form id="addUserForm">
                <select id="groupChatName" required>
                    <option value="">Выберите чат</option>
                </select>
                <select id="username" required>
                    <option value="">Выберите пользователя</option>
                </select>
                <input type="text" id="role" placeholder="Роль" required>
                <input type="text" id="publicKey" placeholder="Публичный ключ" required>
                <input type="number" id="status" placeholder="Статус" required>
                <button type="submit">Добавить</button>
            </form>
        </div>
    </div>

    <!-- Форма для удаления пользователя -->
    <div class="form-container">
        <h2>Удалить пользователя</h2>
        <form id="removeUserForm">
            <input type="text" id="removeGroupChatName" placeholder="Имя чата" required>
            <input type="text" id="removeUsername" placeholder="Имя пользователя" required>
            <button type="submit">Удалить</button>
        </form>
    </div>

    <!-- Поиск пользователей -->
    <div class="form-container">
        <h2>Поиск пользователей</h2>
        <input type="text" id="searchInput" placeholder="Введите имя пользователя">
        <div id="searchResults"></div>
    </div>

    <!-- Список всех пользователей -->
    <div class="form-container">
        <h2>Все участники чата</h2>
        <input type="text" id="chatNameInput" placeholder="Введите имя чата">
        <button id="loadParticipantsButton">Загрузить</button>
        <div id="participantList"></div>
    </div>
</div>

<script src="participantsScript.js"></script>
</body>
</html>